
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <u><i><h3 class="me-5 ">Book Store  </h3></i></u>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if auther_signed_in? %>
        <li class="nav-item">
          <%= link_to "Books" , books_path, class: 'nav-link active' %>
        </li>
        <% end %>
      </ul>
      <form class="d-flex">
        <% if auther_signed_in? %>
          <%= link_to "edit" , edit_auther_registration_path,class: 'btn btn-outline-success me-2' %>
          <%= link_to "sign out  ", destroy_auther_session_path, method: :delete, class: 'btn btn-outline-success' %>

    <% else  %>
          <%= link_to "sign in", new_auther_session_path,class: 'btn btn-outline-success me-2' %>
          <%= link_to "sign up", new_auther_registration_path , class: 'btn btn-outline-success'%>
          <% end  %>
      </form>
    </div>
  </div>
</nav>